.landing {
    background-color: #161616;
    min-height: 80vh;
    font-size: 5.7rem;
    text-transform: uppercase;
}

.mainText {
    max-width: 800px;
    font-family: 'Lato', sans-serif;
    margin-top: 80px;
    letter-spacing: .2rem;
    text-align: left;
    padding-left: 50px;
    line-height: 1.1;
}

.title {
    color: #373737;
    /* font-weight: 500; */
}

.bold {
    font-weight: 600;
}